.App {
  font-family: sans-serif;
}

.full-game {
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/532/221/non_2x/tic-tac-toe-seamless-background-on-dark-blue-illustration-vector.jpg");
  min-height: 100vh;
}

img {
  border-radius: 25px;
  width: 350px;
  height: 500px;
  margin-top: 20px;
  object-fit: cover;
}
.movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 16px;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.text {
  width: 50%;
}
.buton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.color-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
.Colorbox {
  border: 1px solid black;
  border-radius: 20px;
}

.homepage {
  text-align: center;
  margin-top: 100px;
}
.play {
  display: flex;
  gap: 20px;
}
.restart {
  margin-top: 50px;
}
.game-box {
  height: 160px;
  width: 160px;
  border: 1px solid black;
  font-size: 150px;
  background-color: lightcyan;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 492px;
}
.full-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.turnhide {
  display: none;
}
.showturn {
  display: block;
  color: lightblue;
}
.error-page {
  text-align: center;
  font-size: 60px;
  margin: 0;
}
.nfound {
  width: 100%;
  height: 100%;
}
.head {
  color: #fff;
}
img:hover {
  transform: translateY(2px);
}
@media only screen and (max-width: 600px) {
  .board {
    width: 370px;
    display: flex;
    flex-wrap: wrap;
  }
  .game-box {
    height: 100px;
    width: 100px;
    font-size: 70px;
  }
  .head {
    width: 380px;
  }
}
